
.FilterBar{
    box-shadow: 0px 1px 3px;
    padding: 10px 10px;
    margin: 10px 0;
}
.FilterBar_formButtons {
    display: flex;
    width: 100%;
    justify-content: center;
}
.FilterBar_formButtons .MuiButton-outlinedPrimary {
    width: 35%;
    margin: 2px;
}
.MuiTypography-gutterBottom {
    margin-top: 10px;
}
.FilterBar_selectors{
    display: flex;
    margin: 0 auto !important;
    padding: 10px;
    flex-direction: column;
}
.FilterBar_Slider{
    width: 90%;
    margin: 10px auto;
}
.FilterBar_Select{
    display: flex;
    justify-content: space-around;
}
.FilterBar .MuiNativeSelect-select.MuiNativeSelect-select {
    width: 20vw;
    margin: 10px 3px;
}
.FilterBar .MuiSlider-root {
    color: #3282b8;
    margin: 18px auto;
}
.FilterBar .PrivateValueLabel-thumb-1.PrivateValueLabel-open-2 .PrivateValueLabel-offset-3 {
    transform: scale(1) translateY(-22px);
}
.FilterBar .PrivateValueLabel-circle-13 {
    width: 45px;
    height: 45px;
    transform: rotate(-35deg);
}


@media screen and (max-width: 600px) {
      .FilterBar_Select{
        flex-direction: column;
    }
 }
@media screen and (max-width: 320px) {
      .FilterBar .MuiGrid-grid-xs-8 {
        max-width: 100%;
    }
 }