.CarsBoard{    
    margin: 0 auto;
}

.CarsBoard .MuiGrid-container {
    justify-content: center;
    width: 80vw;
    padding: 60px 20px;
    margin: 0 auto;
}
.CarsBoard_addBtn{
    display: flex;
}
.CarsBoard_addBtn button{
    background-color: #3282b8;
}

@media screen and (max-width: 700px) {
    .CarsBoard .MuiGrid-container {
        width: 85vw;
        padding: 60px 10px;
    }
  }
