.CarsBoard{    
    box-sizing: border-box;
    margin-top: 80px;
}

.CarsBoard .MuiGrid-container {
    justify-content: center;
    width: 80vw;
    padding: 60px 20px;
    margin: 0 auto;
}

@media screen and (max-width: 700px) {
    .CarsBoard .MuiGrid-container {
        width: 95vw;
        padding: 60px 10px;
    }
  }
