.CarsCard .MuiCardActionArea-root {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.CarCard_actions{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 470px) {
.CarsCard .MuiCardActionArea-root {
    flex-direction: column;
    align-items: center;
}
}