.CarsCard .MuiCardActionArea-root {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 470px) {
.CarsCard .MuiCardActionArea-root {
    flex-direction: column;
    align-items: center;
}
}